html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position: relative;
}


body::before {
  content: "";
  background:  url("./assets/bg.jpg");
  background-size: cover;
  margin-top: -20px;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  z-index: -1;   
}